@import url(variables.css);
@import url(layout.css);
@import url(component.css);

/*
===========
Variables
===========
*/

/* || RESETS */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	line-height: 140%;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

html {
	height: 100%;
}

body {
	width: 100%;
	min-height: 100vh;
	/* height:100%*/
}
