@import url(variables.css);

button {
	outline: none;
	border: none;
	box-shadow: none;
	background-color: var(--bright-blue);
	padding: 12px;
	color: white;
	border-radius: 5px;
	text-decoration: none;
}

input {
	height: 40px;
	border-radius: 4px;
	outline: none;
	border: none;
	padding: 18px;
}
form {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}
.hero-section-form,
form {
	position: relative;
	row-gap: 12px;
}

.hero-section-form input {
	height: 40px;
	border-radius: 5px;
	outline: none;
	outline: 1px solid var(--black);
	padding: 18px;
}

/* CTA */
.CTA-section button,
.CTA-section input {
	width: 100%;
}

.CTA-section form {
	row-gap: 8px;
}

@media only screen and (min-width: 768px) {
	.CTA-section button {
		width: 50%;
	}
}

/* || Input Error message handling */
input:focus {
	outline: none;
	outline: 3px solid #dc5073;
	/* outline: none; */
	box-shadow: 2px 4px 4px rgba(36, 36, 36,0.2);
}
.error-message {
	position: absolute;
	top: 100%;
	color: #e06f8b;
}
